body, *{
  background-color: hsl(200, 9%, 94%);
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.colors{
  color:hsl(206, 6%, 79%);
  background-color: hsl(270, 20%, 96%);
}
.home{
  position: relative;
  width: 100%;
 margin: 0;
 padding: 0;
}
.users{
  position: fixed;
  margin: 0;
  padding:4rem 1rem;
  border-radius: 0 40px 40px 0;
  top: 0;
  left: -100%;
  width: 80%;
  min-height: 100vh;
  background-color: #0e2747;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: .4s;
  z-index: 10000;
}
.users .bs{
  background-color: transparent;
  color: #fff;
}
 .open{
  transition: .4s;
  left: 0;
}
.users .butn{
  position: absolute;
  right: 1rem;
  padding: 20px 22px;
  border-radius: 50%;
  text-align: center;
  outline: none;
  background-color: inherit;
  border: 1px solid #eee;
}
.users div{
  background-color: #0e2747;
}
.users .img {
  margin-bottom: 10px;
  width: 105px;
  height: 105px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #999;
  border-top: 2px solid rgb(172, 18, 172);
  border-right: 2px solid rgb(172, 18, 172);
  padding: 5px;
}
.users .img img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.users h1{
  background-color: transparent;
  margin-bottom: 30px;
  color: #f5f5f5;
  letter-spacing: 2px;
}
.users .data p{
  background-color: transparent;
  letter-spacing: 2px;
  color: #eee;
  margin-bottom: 15px;
}

.filter-btn{
  border: none;
  outline: none;
  background-color: inherit;
  margin-bottom: 12px;
  color: #eee;
  letter-spacing: 2px;
  font-size: 16px;
}

.app-container{
  position: relative;
  font-family: sans-serif;
  max-width: 480px;
  min-height: 100vh;
  overflow: auto;
  padding: 0 ;
  margin: 0 ;
  text-align: center;
}
.login-form {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #0e2747;
}
.login-form form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto 0;
  width: 100%;
  padding: 2rem;
  min-height: 100vh;
}
.login-form form label{
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-form form input{
  border: none;
  outline: none;
  margin: 10px 0;
  width: 100%;
  padding: 12px;
  border: 1px solid #2196f3;
  border-radius: 8px;
  color: #0066ff;
}

.login-form button{
  outline: none;
  border: 1.3px solid rgb(26, 105, 26);
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  background-color: #2196f3;
  letter-spacing: 1.3px;
  color: #fff;
}
.tasks{
  position: relative;
  padding: 20px;
}
.tasks-name {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  margin: 0;
  padding: 14px;
  text-align: left;
  background-color: #f9f9f9e7;
  box-shadow: 3px 3px 14px rgb(219, 215, 215);
  
}
.tasks-name p{
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: #333;
  font-size: 18px;
}
.edit input{
  border: 1px dashed ;
  outline: none;
  background-color: #f9f9f9e7;
  padding: 4px;
}
.edit,
.task{
  position: relative;
  background-color: #f9f9f9e7;
  padding: 20px 12px;
  border-radius: 12px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #333;
  box-shadow: 2px 2px 15px rgb(219, 215, 215);
}
.edit{
  padding:16.5px 12px;
}
.edit-btn{
  position: relative;
  display: flex;
  background-color: inherit;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.edit-btn button{
  margin: 0;
  outline: none;
  border: none;
  background-color: inherit;
  color: #0066ff;
}
.edit-btn .edt2{
  margin-left: 5px;
  color: rgb(26, 105, 26);
}
.edit-btn button:hover{
  border: 1px dashed #2196f3;
}

.editbtn {
  background-color: inherit;
  font-size: 18px;
  
}


.task .task-btn .delete-btn{
  border: none;
  outline: none;
  color: red;
  cursor: pointer;
  background-color: #f9f9f9e7;
}
.task p{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.styl{
  background-color: transparent;
}
.label{
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  background-color: inherit;
}
.label input{
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #0066ff
}
.taskType{
  border: 2px solid rgb(172, 18, 172)
}
.stl:checked .styl{
  text-decoration: line-through;
}
.stl input:checked ~ .checkmark{
  background-color: rgb(182, 178, 178);
  border: none;
}
.stl1 input:checked ~ .checkmark{
  background-color: rgb(172, 18, 172);
  border: none;
}
.checkmark:after{
  content:'';
  position: absolute;
  display: none;
 }
 .stl input:checked ~ .checkmark:after{
  display: block;
 }
 
  .stl .checkmark:after{
  top: 4px;
  left: 9px;
  width: 5px;
  height: 10px;
  border:2px solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
 }
.header{
  position: relative;
  font-size: 16px;
  padding: 20px;
  text-align: left;
  margin: 0;
}
.header p{
  font-size: 18px;
}
.header .top-menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header h2{
  text-align: left;
  margin: 0;
  font-size: 32px;
}
.top-menu button{
  border: none;
  outline: none;
}
.top-menu ul{
  position: relative;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.top-menu ul li{
  margin-left: 20px;
  padding: 0;
  font-size: 26px;
}
.categories{
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.categories .business, .personal{
  position: relative;
  padding: 25px 10px 7px;
  border-radius: 12px;
  background-color: #f9f9f9e7;
  text-align: left;
  align-items: center;
  width: 50%;
  box-shadow: 3px 3px 15px rgb(219, 215, 215);
}
.business span, .personal span{
  font-size: 14px;
  color: #999;
  background-color: inherit;
}
.categories h4{
  margin-top: 8px;
  background-color: inherit;
  letter-spacing: 1.4px;
}
.categories .bus, .categories .per{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgb(224, 221, 221);
  margin: 0;
  margin-top: 10px;
  box-shadow: 1px 1px 3px 0px #a3a3a3;
}
.bus span, .per span{
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: rgb(172, 18, 172);
}
.bus span{
  animation: bus .8s ease-in-out ;
}
.per span{
  background-color: #196be6;
  width: 60%;
  animation: per .8s ease-in-out ;
}
@keyframes bus {
  0%   {width:0; }
  25%  {width:18.75%; }
  50%  {width: 37.5%;}
  75%  {width: 56.25%; }
  100% {width:75%; }
}
@keyframes per {
  0%   {width:0%; }
  25%  {width:15%; }
  50%  {width:30%;}
  75%  {width:45%; }
  100% {width:60%; }
}
 .app-container .btn{
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #0066ff;
  color: #fff;
  border-radius: 50%;
  padding:14px 22px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 2px 2px 10px #fff;
} 
.app-container .btn-form{
  padding: 14px 22px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #0066ff;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  box-shadow: 2px 2px 10px #196be6;
} 

.form-input{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 97vh;
  background-color: #f9f9f9e7;
}

.form-input .cancel{
  position: absolute;
  top: 50px;
  right: 30px;
  border: none;
  outline: none;
  background-color: inherit;
  padding: 14px 18px;
  font-size: 20px;
  border: 1.2px solid #999;
  border-radius: 50%;
}
.form-input .cancel:hover{
  border: 1px dashed #eee;
}
.form-input .buttons{
  display: flex;
  justify-content: left;
  width: 100%;
  padding-left: 10px;
  background-color: inherit;
}

.task-type{
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;
  background-color: #f9f9f9e7;

}
.task-type input{
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  
}
.task-type span{
  display: block;
  position: relative;
  border: 2px solid #0066ff;
  padding: 14px;
  border-radius: 32px;
  align-self: center;
  color: #999;
  letter-spacing: 1.3px;
  background-color: #f9f9f9e7;

}


.task-type input:checked ~ .type{
  border: 2px solid rgb(172, 18, 172);
  color: #999;
}
.type:after{
  content:'';
  position: absolute;
  display: none;
 }
 .task-type input:checked ~ .type:after{
  display: block;
 }
 
  .task-type .type:after{
    top: 0;
    left: 0;
    color: #eee;
 }
.form-btn{
  position: relative;
  padding: 10px 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #fff;
  border: 1.2px solid #0066ff;
}
.form-btn span{
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #0066ff;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #999;
  top: 2px;
}
.text{
  padding: 12px;
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

.add-form{
  position: relative;
  width: 100%;
  padding: 0 30px;
  background-color: inherit;
}
.add-form input{
  background-color: #f9f9f9e7;
  margin-bottom: 30px;
}
.menus{
  position: relative;
  width: 100%;
  padding: 0 4rem;
  background-color: #f9f9f9e7;

}
.menus > div{
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  background-color: #f9f9f9e7;
  justify-content: space-around;
}
.info{
  position: relative;
  margin:20px;
  background-color: #2196f3;
  color: #eee;
  /* font-weight: lighter; */
  letter-spacing: 1px;
  padding:10px 10px 10px 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 14px rgb(182, 178, 178);
}
.info p{
  font-size: 20px;
  text-transform: uppercase;
  background-color: inherit;
  margin-bottom: 10px;
  font-weight: bold;
}
.info ul{
  position: relative;
  padding: 0;
  margin: 0;
  background-color: inherit;
  list-style: square;
  text-align: left;
}
.info ul li{
  background-color: inherit;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: 18px;
}